{% extends "layout.html" %}
{% block content %}

<body>
<div class="top-bar">
    <div class="top-text">
        <h3>“Love goes very far beyond the physical person of the beloved. <br>
        It finds its deepest meaning in his spiritual being, his inner self.” <br>
        <h4 class="WindSong-font"> - Victor Frankl, <i>Man’s Search for Meaning</i></h4>
        </h3>
    </div>
</div>

<div class="abouttext">
<p>
    Just because the deceased is not here does not mean that you stopped loving them or even that your relationship has ended. It has changed. Significantly. But it isn’t the end. The love you have for them is strong and enduring. Grief is what we feel when the physical person of the beloved changes. 
    With death, the love remains; simply, the nature of the relationship changes.
    Learning how to ask your grief to live with you, productively, is a skill. For some people, this skill comes naturally. 
    For others, it's a skill that needs to be cultivated. 
</p>
<p>
    As Lisa Feldman Barnett states, “you are the architect of your experience.” This is not to say that grief isn’t valid; it is. Or that it is your fault; it is not. 
    Nonetheless, you are the only one who can change how you feel about your grief. 
    Right now, your grief might be so raw you can barely stand to breathe; 
    maybe you feel like your grief is controlling your life’s journey as you sit here right now. 
    It can feel like a horror-story monster, looming over your every move. 
    And yet. 
</p>
<p>
    Over time, you have the power to introduce yourself to your grief. 
    And then, with work, ask your grief to walk with you, hand-in-hand. 
    And eventually, you can ask your grief to allow the rest of you to take the lead.
</p>

<h4 class="Merriweather-font-dark">
    Want to know more about this 60 day process? <a href="/process">Click here.</a><br>
    Ready to sign up? <a href="/new_user_registration">Click here.</a><br>
    Already signed up? <a href="/login">Log In.</a>
</h4>
<br>
<br>
<div class="border-top pt-3">
    <small class="text-muted"> <!-- means the text will be greyed a bit -->
        Many thanks to all who helped to make my first project as a software engineer possible. 
        <a href="/thank_you">Thank you.</a>
    </small>
</div>

</div>
</body>

{% endblock content %}
