<!doctype html>
{% extends "layout.html" %}
{% block content %}

<div>
    <div class="top-bar">
        <div class="top-text">
        <h1>We are glad you are ready to take the next step on your grief journey.</h1>
        </div>
    </div>
    <div class="container" id="homechoices">
        <div class="row">
            <div class="col" id="linkchoices">
            To learn more about us, please <a href="/about">click here</a>.
            </div>

            <div class="col" id="linkchoices">
            To learn more about our process, please <a href="/process">click here</a>.
            </div>

            <div class="col" id="linkchoices">
                <br>
            To sign up, please <a href="/register">click here</a>.
            </div>

            <div class="col" id="linkchoices">
                <br>
            To log in, please <a href="/login">click here</a>.
            </div>
        </div>
    </div>
</div>


{% endblock %}