{% extends "layout.html" %}
{% block content %}

    <h1>Hello, {{ current_user.firstname }}. <br> </h1>
    <h2><i>Please open up your grief journals or register for a new one. </i></h2>
    
    {% for grief_connection in grief_connections %}
    <div class="content-section">
        <h4><a href="/daily_journal_entry/{{ grief_connection.id }}">Make a new entry about your {{ grief_connection.deceased_person.griefrelationship }}, {{ grief_connection.deceased_person.firstname }}.</a></h4> 
        <h4><a href="/previous_journal_entries/{{ grief_connection.id }}">Your previous journal about your {{ grief_connection.deceased_person.griefrelationship }}, {{ grief_connection.deceased_person.firstname }}.</a></h4>
    </div>
    {% endfor %}
    <br>
    <h2>To open up a new journal, <a href="/new_journal_registration">click here.</a></h2>

{% endblock content %}