{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }} <!-- Accessing the form instance; Adds a CSRF Token -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    <h2><div class="WindSong-font2">Begin your grief process here.</div></h2>
                    <div class="form-group">
                        {{ form.firstname.label(class="form-control-label") }} <!-- .label will print out the username from our form field. Plus some bootstrap to make it look better-->
                        
                        {% if form.firstname.errors %} <!-- if the form has an error in the username entry, create an error alert -->
                            {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-form-feedback">
                                {% for error in form.firstname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} <!-- if the form does not have errors, proceed as normal -->
                            {{ form.firstname(class="form-control form-control-lg") }} 
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.lastname.label(class="form-control-label") }} <!-- .label will print out the username from our form field. Plus some bootstrap to make it look better-->
                        
                        {% if form.lastname.errors %} <!-- if the form has an error in the email entry, create an error alert -->
                            {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-form-feedback">
                                {% for error in form.lastname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} <!-- if the form does not have errors, proceed as normal -->
                            {{ form.lastname(class="form-control form-control-lg") }} 
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.griefrelationship.label(class="form-control-label") }} <!-- .label will print out the username from our form field. Plus some bootstrap to make it look better-->
                        
                        {% if form.griefrelationship.errors %} <!-- if the form has an error in the username entry, create an error alert -->
                            {{ form.griefrelationship(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-form-feedback">
                                {% for error in form.relationship.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} <!-- if the form does not have errors, proceed as normal -->
                            {{ form.griefrelationship(class="form-control form-control-lg") }} 
                        {% endif %}
                    </div>
                    
                </legend>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted"> <!-- means the text will be greyed a bit -->
            Looking for a journal you already registered? <a class="ml-2" href="/my_account"> <!-- Calls the instance "login" function from flask_grief_server.py -->
            Head over to your account.</a>
        </small>
    </div>
{% endblock content %}